<!DOCTYPE html>
<html lang="en">
{% block head%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>codeFortunately</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
</head>
{% endblock %}

<body>
  <!-- header goes in here-->
  {% block header %}
    {% block navbar %}

       <!--Navigation starts here-->

        <nav class="navbar navbar-default navbar-inverse navbar-fixed-top no-margin no-padding" role="navigation">
            <div class="container-fluid">
               <div class="navbar-header">
                   <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-fortuneiyke-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                    <a href="/index" class="navbar-brand" id="my_logo"><em>code</em>Fortunately</a>
                </div>

                <div class="collapse navbar-collapse navbar-right" id="bs-fortuneiyke-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="/index">Home</a></li>
                        <li><a href="/projects">Projects</a></li>
                        <li><a href="/blogs">Blogs</a></li>
                        <li><a href="/about">About me</a></li>
                        <li><a href="/contact">Contact me</a></li>
                    </ul>
                </div>
            </div>
        </nav>

   <!--Navigation ends here-->
    {% endblock %}
  {% endblock %}


  <!-- error messages -->
  {% if error %}
    <div class="container alert alert-danger alert-dismissible" role="alert">
      <strong>Error:</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      {{ error }}
    </div>
  {% endif %}


  <!-- success messages -->
  {% if success %}
    <div class="col-sm-10 col-sm-offset-2 alert alert-success text-center col-md" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      {{ success }}
    </div>
  {% endif %}


  <!-- flash messages -->
  {% for messages in get_flashed_messages() %}
    <div class="container alert alert-success alert-dismissible" role="alert">
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
     </button>
        {{ messages }}
    </div>

  {% endfor %}

  <!-- the child template starts within the block below-->
  {% block content %}

  {% endblock %}

  <!--Footer starts here-->

    <footer class="site-footer footer push">
        <div class="container">
           <div class="row footer-name">
           <p>&copy; copyright <em>code</em>Fortunately 2016</p>
           </div>
           <div class="bottom-footer">
               <ul class="footer-nav">
                   <li><a href="/index">Home</a></li>
                   <li><a href="/projects">Projects</a></li>
                   <li><a href="/blogs">Blogs</a></li>
                   <li><a href="/about">About</a></li>
                   <li><a href="/contact">Contact</a></li>
               </ul>
           </div>
        </div>
    </footer>

  <!--Footer ends here-->

  <script src="static/js/jquery-1.11.3.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script>

      function validateForm(id){
          if ($('#'+id).val()==null || $('#'+id).val()==""){
              var div = $('#'+id).closest('div');
              div.removeClass('has-success');
               $('#glypicn'+id).remove();
              div.addClass('has-error has-feedback');
              div.append(' <span id="glypicn'+id+'" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>');
              return false;
          }
          else {
              var div = $('#'+id).closest('div');
              div.removeClass('has-error');
              $('#glypicn'+id).remove();
              div.addClass('has-feedback has-success');
              div.append('<span id="glypicn'+id+'" class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>')
              return true;
          }
      }
      $(document).ready(

          function(){
              $('#contactbtn').click(function(){
                  if (!validateForm('contactname')){
                      return false;
                  }


                  if (!validateForm('contactemail')){
                      return false;
                  }


                  if (!validateForm('contactsubject')){
                      return false;
                  }


                  if (!validateForm('contactmessage')){
                      return false;
                  }

                  $('form#contactform').submit();
              });
          });

  </script>

</body>
</html>
