{% extends "base.html" %}

{% block content %} <!--learn more content block -->
    <div class="container lrn_mre ">
        <div class="col-md-6 text-justify">

            <h2 class="text-center lrn_mre_title">Do You Know That...</h2>
            <h4 class="">
            The web is growing really fast, such
            a little awesome place where you can
            do so much. Imagine a world with more
            powerful productivity but less stress
            and more fun.
            The future my friend is here. <br>Now, The web
                allows the world to:</h4>
            <img src="static/images/social.media_.jpg" alt="social network" height="200px" width="200" class="img-responsive img-circle col-md-5">

            <div class="col-md-7">
            <h4>
                - Socialize, chat and meet new people
                everyday.
            </h4>

            <h4>
                - Download and listen to the latest of
                your favourite in music.
            </h4>
            <h4>
               - Watch videos that inspire and make you
                happy.
            </h4>

            <h4>
                - Find out almost all the everyday activities
                of your favourite celebrities.
            </h4>
            </div>
            <h4>
                - Buy and sell both fairly used and new gadgets,
            utencils or wears etc. and have it delivered
            to you at your doorstep.
            </h4>
            <h4>
                - Read up interesting articles and news
                especially when you miss them on CNN
            </h4>

        </div>


        <div class="col-md-6 right_col">
            <h3 class="text-center">
            All these things and many more can be
            done on the web, as it helps build a
            better relationship with your customers,
            clients, friends and listners around the
            globe.
        </h3>
        <h3 class="text-center lrn_mre_title">
            Now, the question is do you wish to get
            on the web? <br> <br>
            <a class="btn btn-primary btn-lg btn-success yes_btn" href="public_access/about.html" role="button">Yes</a>
        <a class="btn btn-primary btn-lg btn-danger no_btn" href="#" role="button" disabled="disabled">No</a>
        </h3>

        </div>

    </div>
  {% endblock %}

  {% block footer %}<!--Footer starts here-->

    <footer class="site-footer footer push">
        <div class="container">
           <div class="row footer-name">
           <p>&copy; copyright <em>code</em>Fortunately 2016</p>
           </div>
           <div class="bottom-footer">
               <ul class="footer-nav">
                   <li><a href="/index">Home</a></li>
                   <li><a href="/projects">Projects</a></li>
                   <li><a href="#">Blogs</a></li>
                   <li><a href="public_access/about.html">About</a></li>
                   <li><a href="public_access/hire_me.html">Hire me</a></li>
               </ul>
           </div>
        </div>
    </footer>

    {% endblock %}<!--Footer ends here-->
