{% extends "base.html" %}

{% block content %} <!--learn more content block -->
    <div class="container lrn_mre ">
        <div class="col-md-6 text-justify">

            <h2 class="text-center lrn_mre_title">Do You Know That...</h2>
            <h4 class="">
            The web is growing really fast, it is
            a little awesome place where you can
            do so much. Imagine a world with more
            powerful productivity but less stress
            and more fun.
            The future is here my friend. <br>Now, The web
                allows the world to:</h4>
            <img src="static/images/social.media_.jpg" alt="social network" height="200px" width="200" class="img-responsive img-circle col-md-5">

            <div class="col-md-7">
            <h4>
                - Socialize, chat and meet new people
                everyday.
            </h4>

            <h4>
                - Download and listen to the latest of
                their favourite in music.
            </h4>
            <h4>
               - Watch videos that inspire and make them
                happy.
            </h4>

            <h4>
                - Find out almost all the everyday activities
                of their favourite celebrities.
            </h4>
            </div>
            <h4>
                - Buy and sell both fairly used and new gadgets,
            utencils or wears etc. and have it delivered
            to your doorstep.
            </h4>
            <h4>
                - Read up interesting articles and news
                especially when you miss them on CNN
            </h4>

        </div>


        <div class="col-md-6 right_col">
            <h3 class="text-center">
            To mention but a few, all these things and many more can be
            done on the web, as it helps build a
            better relationship with your customers,
            clients, friends,fans and listeners around the
            globe.
        </h3>
        <h3 class="text-center lrn_mre_title">
            Now, the question is do you wish to get
            on the web?
        <br><br>  Yes is a smart answer
        </h3>

        </div>

    </div>
  {% endblock %}
