{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link href="static/css/about_style.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container jumbotron about_jumbotron">
        <img src="../../static/images/IMG_20150809_143231%20(2)-001.jpg"
        alt="fortune iyke ekeruo"  height="400px" width="250px"
        class="img-responsive col-md-5 col-sm-5 about_img img-circle img-thumbnail">

        <p class="col-md-7 col-sm-7 about_note">
            <h1 class="about_title" >About me</h1>
            <h4 class="text-justify">
                My names are Fortune Iyke Ekeruo. I'm a christian,
                and a  freelance web developer currently teaching
                computer studies in one of the Owarch Missionary
                Schools of Nigeria.
                <br> <br>
                I have great passion for building dynamic, responsive and
                mobile-friendly websites, with the latest technologies
                such as HTML5/CSS3, Javascript and Flask(a micro web
                framework based on python programming language).
                <br> <br>
                Meanwhile I get really social on
                <a href="http://fb.com/fortune.ik"
                id="in_links" class="lead">Facebook</a>
                and love to tweet and retweet cool stuff
                on <a href="http://twitter.com/fortune_ik"
                id="in_links" class="lead">Twitter</a>,
                and during my leisure, I write about interesting topics
                on my blogs. <br> <br>
                I really believe that attitude is what makes us who we
                really are, while a piece of bio writeup doesn't. Just
                go ahead and shoot me an email via my contact page if
                you wish to get on the internet and I'll get back to you.
                <br><br>
                 <h3 class="about_closing_note text-center">
                I'd really love to help you grab your own
            little space on the web.  <br> <br>
            So Bring it on and Let's <em>code</em>Fortunately.
            </h3>
            </h4>
        </p>
    </div>

{%  endblock  %}
