{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link href="static/css/about_style.css" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="container jumbotron about_jumbotron">
    <div class="col-md-6 col-sm-6">
      <h2 class="blog-title">YoungTechMind</h2>
      <img src="../static/images/ytm.jpg" alt="YTM image" class="img-responsive  img-height">
      <p class="text-justify">
        YoungTechMind is focused on educating,encouraging and
        motivating tech buddies, programmers and gadget freaks,
        especially the young minds. <br>
        It provides tech news and  articles on programming tutorials,
        gadget reviews and every computer/internet related issue. <br>
        Just check it out anytime toread about some
        random tech stuff and all of it's kind.
        Thanks.
      </p>
      <p>
        <a class="btn btn-primary btn-lg learn_more_btn"
        href="http://youngtechmind.blogspot.com"
        role="button" target="_blank">Visit YTM</a>
      </p>
    </div>

    <div class="col-md-6 col-sm-6">
      <h2 class="blog-title">Inspired Scribblers</h2>
      <img src="../static/images/inspiredscribblers.jpg" alt="IS image" class="img-responsive img-height">
      <p class="text-justify">
        Inspired Scribblers is created with the sole aim
        of helping the inspired lone writers get their
        articles up on the internet to motivate,
        encourage and most of all inspire readers. <br>
        It dedicated to providing interesting articles on
        any field of study. <br>
        There is a few inspired people yet to make posts on it. <br>
        So drop by anytime.
        <br>Thanks.
      </p>
      <p>
        <a class="btn btn-danger btn-lg" href="#"
        disabled="disabled" role="button"
        target="_blank">Under Maintainance</a>
      </p>
    </div>
  </div>
{% endblock %}
