{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link href="static/css/hire_me_style.css" rel="stylesheet">
{% endblock %}

{% block content %}
  {{ super() }}

    <!--background container for the social media links and contact form starts-->
    <div class="container bg_cover">

        <!--Social media buttons starts-->

        <div class="col-md-4 col-sm-5 social_media">
                <span class="panel-title  text-center">
                  <h2>Social Media Links</h2>
                </span>
                <a href="http://fb.com/fortune.ik"
                  class="btn btn-primary btn-lg btn-block fb_btn"
                  target="_blank">Facebook
                </a>
                <a href="http://twitter.com/fortune_ik"
                  class="btn btn-primary btn-lg btn-block twtr_btn"
                  target="_blank">Twitter
                </a>
                <a href="#" class="btn btn-primary btn-lg btn-block g_btn"
                  target="_blank">Google+
                </a>
        </div>
       <!--Social media buttons ends-->

       <!--contact form starts-->
        <div class="col-md-8 col-sm-7 contact_form">
          <span class="panel-title  text-center"><h2>Contact form</h2></span>

           <form action="/contact" method="post" class="form-horizontal" id="contactform">

            {{ form.csrf_token }}
            <div class="form-group">
                  <label for="contactname" class="col-sm-2 control-label" >Name</label>
                  <div class="col-sm-10">
                      <p>
                      {{ form.name(placeholder="Enter Name",
                      class="form-control", id="contactname")
                    }}
                      <span class="error">
                        {% if form.name.errors %}
                          {% for error in form.name.errors %}
                            {{ error }}
                          {% endfor %}
                        {% endif %}
                      </span>
                      </p>
                  </div>
          </div>
          <div class="form-group">
                <label for="contactemail" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                      <p>
                      {{ form.email(placeholder="Email",
                        class="form-control", id="contactemail")
                      }}
                      <span class="error">
                        {% if form.email.errors %}
                          {% for error in form.email.errors %}
                            {{ error }}
                          {% endfor %}
                        {% endif %}
                      </span>
                      </p>
                  </div>
           </div>
           <div class="form-group">
                 <label for="contactsubject" class="col-sm-2 control-label">Subject</label>
                 <div class="col-sm-10">
                      <p>
                      {{ form.subject(placeholder="Subject",
                        class="form-control", id="contactsubject")
                      }}
                      <span class="error">
                        {% if form.subject.errors %}
                          {% for error in form.subject.errors %}
                            {{ error }}
                          {% endfor %}
                        {% endif %}
                      </span>
                      </p>
                 </div>
          </div>
          <div class="form-group">
              <label for="contactmessage" class="col-sm-2 control-label">Message</label>
              <div class="col-sm-10">
                      <p>
                      {{ form.message(placeholder="Your message",rows='10',cols='87',
                        id="contactmessage", class="form-control",
                        style="width:100%")
                      }}
                      <span class="error">
                        {% if form.message.errors %}
                          {% for error in form.message.errors %}
                            {{ error }}
                          {% endfor %}
                        {% endif %}
                      </span>
                      </p>
              </div>
            </div>
            <div class="col-sm-2 col-sm-offset-10">
                <button type="button" class="btn btn-default" id="contactbtn">Submit</button>
            </div>
        </form>
       </div>
       <!--contact form ends-->


    </div>

    <!--background container for the social media links and contact form ends-->

{% endblock %}
