{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link href="static/css/project_style.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <!--The usage of the modals to showcase my projects starts-->
    <section class="container project_section no-padding">

     <!--carousel for the biggest project starts-->
     <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="../../static/images/computer-1.jpg" alt="Boggyice Computer learning center" class="img-responsive img-h">
      <div class="carousel-caption">
        <h2 class="carousel_text hidden-sm hidden-xs">Boggyice Computer Learning Center</h2>
      </div>
    </div>
    <div class="item">
      <img src="../../static/images/computers-in-classroom.jpg" alt="students learning computer" class="img-responsive img-h">
      <div class="carousel-caption">
        <h2 class="carousel_text hidden-sm hidden-xs">Boggyice Adult Computer Learning</h2>
      </div>
    </div>
    <div class="item">
     <img src="../../static/images/full%20boggyice%20logo_1170x350.png" alt="Boggyice project" class="img-responsive img-h">
      <div class="carousel-caption">
        <h2 class="carousel_text hidden-sm hidden-xs">Boggyice: The biggest ongoing project</h2>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

     <!--carousel for the biggest project ends-->


       <div class="container featured col-md-12 no-padding">
       <div class="f_p container col-md-12">
            <h3>Featured Projects</h3>
       </div>
        <div class="col-md-4 col-sm-6">
            <button type="button" class="btn featured_project btn-lg"
            data-toggle="modal" data-target="#gben"><span id="projects">Project Zero</span>
          </button>
        </div>
        <div class="col-md-4 col-sm-6">
            <button type="button" class="btn featured_project btn-lg"
            data-toggle="modal" data-target="#dxclusive"><span id="projects">Project One</span>
          </button>
        </div>
        <div class="col-md-4 col-sm-6">
            <button type="button" class="btn featured_project btn-lg"
            data-toggle="modal" data-target="#bitzoneSMSSystem"><span id="projects">Project Two</span>
          </button>
        </div>
        </div>
    </section>

    <!--Modals display starts-->

    <!--Global Evangelism Network Modals display starts-->

    <div class="modal fade" id="gben" tabindex="-1" role="dialog" aria-labelledby="gben" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="gben">Global Evangelism Network</h4>
      </div>
      <div class="modal-body">
        <img src="../../static/images/welcome-to-the-church-of-christ2.png" alt="Global Evangelism Network" class="img-responsive">
        <h3>Site Description:</h3>
        <p class="text-justify">
            <strong>A team of evangelists from the churches of Christ in Nigeria, on a                 global evangelism mission to rescue a perishing world.<br>
                By: </strong><br>
            Preaching the glorious gospel of Christ to the whole world for the                 eternal salvation of the world.
            <br> <br>
            Promoting undenominational Christianity across the globe for the total             restoration of the New Testament church established by the Lord Jesus             Christ for all nations.
            <br><br>
            Preaching the sound doctrines of Christ which is the doctrine of                   spiritual perfection and eternal life so that the world might receive             a blessed destiny in Christ Jesus our Lord.

            <br><br>
            Promoting sound biblical education for the spreading of the glorious               gospel of Christ, across the nations of the world.


        </p>...
        <a href="http://globalevangelismnetwork.org">Visit Site</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <a href="http://globalevangelismnetwork.org" type="button" class="btn btn-success">Visit Site</a>
      </div>
    </div>
  </div>
</div>
    <!--Global Evangelism Network Modals display ends-->

    <!--DoublestarXclusive Modals display starts-->
    <div class="modal fade" id="dxclusive" tabindex="-1" role="dialog" aria-labelledby="dxclusive" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="dxclusive">DoublestarXclusive</h4>
      </div>
      <div class="modal-body">
        <img src="../../static/images/dx%20long.PNG" alt="Doublestarxclusive" class="img-responsive">
        <h3>Site Description:</h3>
        <p>This is an entertainment website/blog <br>
            Here you can read up latest entertainment
            News and gists. <br><br>
            Download the latest music and music videos etc. <br> <br>
            And every other thing entertainment wise.
        </p>
        ...
        <a href="http://doublestarxclusive.com">Visit Site</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <a href="http://doublestarxclusive.com" type="button" class="btn btn-success">Visit Site</a>
      </div>
    </div>
  </div>
</div>
    <!--DoublestarXclusive Modals display ends-->

    <!--Bitzone Bulk Sms system Modals display starts-->
    <div class="modal fade" id="bitzoneSMSSystem" tabindex="-1" role="dialog" aria-labelledby="bitzoneSMSSystem" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="bitzoneSMSSystem">Bitzone Bulk SMS System</h4>
      </div>
      <div class="modal-body">
        <img src="../../static/images/bitzone%20bulk%20sms%20system.PNG" alt="Bitzone Bulk SMS System" class="img-responsive">
        <h3>Site Description:</h3>
        <p>
            I am a simple easy to use bulk SMS system website, you can send a free             text message using my Quick SMS option to test out my services.                   Bitzone bulk SMS system is all about getting your information                     delivered #asap without delay. Bitzone bulk SMS system says "I'm alive             now" so you can...
        </p>
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" disabled="disabled">Currently Offline</button>
      </div>
    </div>
  </div>
</div>

    <!--Bitzone Bulk Sms system Modals display ends-->

    <!--Modals display ends-->

    <!--The usage of the modals to showcase my projects ends-->

{% endblock %}

{% block footer %}
    <!--Footer starts -->

    <footer class="site-footer">
        <div class="container">
           <div class="row footer-name">
           <p>&copy; copyright <em>code</em>Fortunately 2016</p>
           </div>
           <div class="bottom-footer">
               <ul class="footer-nav">
                   <li><a href="/index" class="active">Home</a></li>
                   <li><a href="/projects">Projects</a></li>
                   <li><a href="#">Blogs</a></li>
                   <li><a href="about.html">About</a></li>
                   <li><a href="contact.html">Hire me</a></li>
               </ul>
           </div>
        </div>
    </footer>

    <!--Footer ends here-->

{% endblock %}
